#shopping-floor{
  width: 600px;
  height: 450px;
  border: solid 2px black;
  position: relative;
  overflow: hidden;
}

.item {
  position: absolute;
}

.cart {
  position: absolute;

  top: 80%;
  left: 45%;
}

.cart img {
  height: 75px;
  width: 75px;
}

.cart {
  border: solid 5px black;
}
