#shopping-floor{
  border: solid 2px black;
  position: relative;
  overflow: hidden;
  margin: auto;
  background: url(file:///Users/edwardyu/Desktop/projects/images/floor.png) center repeat;
  background-size: cover;
}

#startingscreen {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#gameboard {
  visibility: hidden;
}

.item {
  position: absolute;
  width: 50px;
}

.cart {
  position: absolute;
  top: 80%;
  left: 45%;
}

.cart img {
  height: 75px;
  width: 75px;
}
